<article class="message is-info">
  <div class="message-header">
    _('Kontakt')
    <button class="delete"></button>
  </div>
  <div class="message-body">
    <p>_('Wir freuen uns über Feedback:')</p>
    <p>_('E-Mail:') _('wasser')<!--nospam@blockscanners123987.de-->&#64;_('opendatalab.de')</p>
    <p>_('Aufgrund der zahlreichen Daten kann es vereinzelt zu fehlerhaften Angaben kommen. Haben Sie einen Fehler entdeckt? Schreiben Sie uns!')</p>
    <p>_('Oder sind Sie Mitarbeiter einer Kommune und möchten Ihre Daten eintragen? Schicken Sie uns einfach Ihre Daten per E-Mail.')</p>
  </div>
</article>
