<div class="navbar-brand">
  <span class="navbar-item"><img src="../img/white-logo.png" alt="Code For Europe Logo"></span>
  <span class="navbar-item">_('Was steckt in meinem Leitungswasser?')</span>
  <div class="navbar-burger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div class="navbar-menu is-hidden-mobile">
  <div class="navbar-start">
    <div class="navbar-item">
        <div class="field">
            <p class="control has-icons-right">
              <input id="search" type="text" class="input search-input" placeholder="_('Bitte auswählen')">
              <span class="icon is-small is-right search-icon">
                <i class="fa fa-search"></i>
              </span>
            </p>
        </div>
    </div>
  </div>

  <div class="navbar-end">
    <a class="navbar-item home-button" title="_('Home')">
        <i class="fa fa-home"></i>&nbsp;
    </a>
    <a class="navbar-item about-button" title="_('Über das Projekt')"href="#/about">
        <i class="fa fa-question"></i>&nbsp;
    </a>
    <a class="navbar-item about-button" title="_('Kontakt')" href="#/contact">
        <i class="fa fa-envelope"></i>&nbsp;
    </a>
    <a class="navbar-item about-button" title="_('Mitwirkende')" href="#/team">
        <i class="fa fa-user"></i>&nbsp;
    </a>
    <a class="navbar-item about-button" title="_('Github')" href="https://github.com/codeforeurope/transparent-water">
        <i class="fa fa-github"></i>&nbsp;
    </a>
    <a class="navbar-item about-button" title="_('API')" id="api-docs" href="/docs">
        <i class="fa fa-wrench"></i>&nbsp;
    </a>
  </div>
</div>

<div id="mobilemenu" class="navbar-menu is-hidden-tablet">
  <div class="navbar-start">
    <div class="navbar-item">
        <div class="field">
            <p class="control has-icons-right">
              <input id="search" type="text" class="input search-input" placeholder="_('Bitte auswählen')">
              <span class="icon is-small is-right search-icon">
                <i class="fa fa-search"></i>
              </span>
            </p>
        </div>
    </div>
  </div>

  <div class="navbar-end">
    <a class="navbar-item home-button" title="_('Home')">
        <i class="fa fa-home"></i>&nbsp;
        <span class="is-hidden-tablet">_('Home')</span>
    </a>
    <a class="navbar-item about-button" title="_('Über das Projekt')"href="#/about">
        <i class="fa fa-question"></i>&nbsp;
        <span class="is-hidden-tablet">_('Über das Projekt')</span>
    </a>
    <a class="navbar-item about-button" title="_('Kontakt')" href="#/contact">
        <i class="fa fa-envelope"></i>&nbsp;
        <span class="is-hidden-tablet">_('Kontakt')</span>
    </a>
    <a class="navbar-item about-button" title="_('Mitwirkende')" href="#/team">
        <i class="fa fa-user"></i>&nbsp;
        <span class="is-hidden-tablet">_('Mitwirkende')</span>
    </a>
    <a class="navbar-item about-button" title="_('Github')" href="https://github.com/codeforeurope/transparent-water">
        <i class="fa fa-github"></i>&nbsp;
        <span class="is-hidden-tablet">_('Github')</span>
    </a>
    <a class="navbar-item about-button" title="_('API')" id="api-docs" href="/docs">
        <i class="fa fa-wrench"></i>&nbsp;
        <span class="is-hidden-tablet">_('API')</span>
    </a>
  </div>
</div>
