<article class="message is-info">
  <div class="message-header">
    _('Mitwirkende')
    <button class="delete"></button>
  </div>
  <div class="message-body">
    <table class="table">
      <tbody>
        <tr><td colspan="3">_('Redaktionelle Umsetzung')</td></tr>
        <tr>
          <td>Vanessa Wormer</td>
          <td><a target="_blank" href="https://twitter.com/remrow"><i class="fa fa-twitter"></i></a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Isabelle Müller</td>
          <td><a target="_blank" href="https://twitter.com/isa_mue"><i class="fa fa-twitter"></i></a></td>
          <td>&nbsp;</td>
        </tr>
        <tr><td colspan="3">_('Gestaltung')</td></tr>
        <tr>
          <td>Heiko Nicht</td>
          <td><a target="_blank" href="https://twitter.com/HeikoNicht"><i class="fa fa-twitter"></i></a></td>
          <td>&nbsp;</td>
        </tr>
        <tr><td colspan="3">_('Programmierung')</td></tr>
        <tr>
          <td>Felix Ebert</td>
          <td><a target="_blank" href="https://twitter.com/femeb"><i class="fa fa-twitter"></i></a></td>
          <td><a target="_blank" href="https://github.com/felixebert"><i class="fa fa-github"></i></a></td>
        </tr>
        <tr>
          <td>Ulrich Stech</td>
          <td><a target="_blank" href="https://twitter.com/masterX244"><i class="fa fa-twitter"></i></a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Duncan Healy</td>
          <td>&nbsp;</td>
          <td><a target="_blank" href="https://github.com/duncanhealy"><i class="fa fa-github"</i></a></td>
        </tr>
        <tr>
          <td>Milo van der Linden</td>
          <td><a target="_blank" href="https://twitter.com/miblon"><i class="fa fa-twitter"></i></a></td>
          <td><a target="_blank" href="https://github.com/milovanderlinden"><i class="fa fa-github"</i></a></td>
        </tr>
        <tr><td colspan="3">_('Mitarbeit')</td></tr>
        <tr>
          <td>Alexander Walther</td>
          <td><a target="_blank" href="https://twitter.com/alexplus_de"><i class="fa fa-twitter"></i></a></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Tom Görner</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Gerd Hoffman</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
