.autocomplete-suggestions { 
  z-index: 1200;
  border-left: 1px solid #ccc; 
  border-right: 1px solid #ccc; 
  border-bottom: 1px solid #ccc; 
  background: #FFF; 
  overflow: auto; 
  border-radius: 0 0 4px 4px;
  position: absolute;
  width: 100%;
}
.autocomplete-suggestion { 
  font-size: 1rem;
  padding: calc(.675em - 1px);
  overflow: hidden; 
  color: #555; 
}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestion:hover { 
  background: #F0F0F0;
  cursor: pointer;
}
.autocomplete-suggestions strong { font-weight: bold; color: #555; }
.autocomplete-group { padding: 8px 12px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.message.is-info .message-header {
  background-color: #3591c0;
  color: #fff;
}
.message.is-info{
  background-color: #fff;
}
.message.is-info .message-body {
  border-color: #3591c0;
  color: #4a4a4a;
}

.is-primary {
  background-color: #3591c0 !important;
  color: #fff;
}
.map { height: 250px; width: 100%; }

.navbar-item{
  padding-top: 3px;
}
.navbar,
.navbar-item,
.footer {
  background-color: #3591c0;
  color: #fff;
}
.button-footer {
  background-color: transparent;
  color: #fff;
}
.card-header-title {
  font-weight: normal;
}
.white {
  color: #fff;
}
.green {
  color: #00ff00;
}
.red {
  color: #ff0000;
}

.capitalize {text-transform:capitalize;}